
.inner
{
    width: 1000px; /* default is 940px*/
}
#main-content
{
    width: 780px; /* default is 690px*/
}


header h1
{
    font-size: 40px;
}

img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

pre.highlight
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
}

h3 { font-style: italic; }

/* customize prism/coy style color  */

pre[class*=language-r]
{
    margin-bottom: 0px;
}

pre[class*=language-r]>code
{
    /* border-left: 10px solid rgb(210, 78, 107); */
    /* box-shadow: -1px 0 0 0 #ad182d, 0 0 0 1px #dfdfdf; */
    font-family: 'Fira Code', Courier; font-size: 16px;
    margin-bottom: 0px;
}
pre[class*=language-r]:before { content: none; }
pre[class*=language-r]:after { content: none; }




/* pre[class*=language-r] */
/* { */
/*     border-left: 10px solid rgb(210, 78, 107); */
/*     box-shadow: -1px 0 0 0 #ad182d, 0 0 0 1px #dfdfdf; */
/*     font-family: 'Fira Code', Courier; font-size: 16px; */
/* } */


